In [18]:
import pandas as pd 
df = pd.read_csv('zippedData/tmdb.movies.csv.gz')
df2 = pd.read_csv('zippedData/imdb.title.ratings.csv.gz')
df3 = pd.read_csv('zippedData/imdb.titl e.principals.csv')
df4 = pd.read_csv ('zippedData/imdb.title.akas.csv.gz')
df5= pd.read_csv('zippedData/imdb.name.basics.csv') 
df5 = pd.read_csv('zippedDara/')
df.head(30)

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
5,5,"[12, 14, 10751]",32657,en,Percy Jackson & the Olympians: The Lightning T...,26.691,2010-02-11,Percy Jackson & the Olympians: The Lightning T...,6.1,4229
6,6,"[28, 12, 14, 878]",19995,en,Avatar,26.526,2009-12-18,Avatar,7.4,18676
7,7,"[16, 10751, 35]",10193,en,Toy Story 3,24.445,2010-06-17,Toy Story 3,7.7,8340
8,8,"[16, 10751, 35]",20352,en,Despicable Me,23.673,2010-07-09,Despicable Me,7.2,10057
9,9,"[16, 28, 35, 10751, 878]",38055,en,Megamind,22.855,2010-11-04,Megamind,6.8,3635
10,10,"[16, 35, 10751]",863,en,Toy Story 2,22.698,1999-11-24,Toy Story 2,7.5,7553
11,11,"[10751, 14, 12]",12155,en,Alice in Wonderland,22.020,2010-03-05,Alice in Wonderland,6.6,8713
12,12,"[53, 12, 28]",27578,en,The Expendables,21.517,2010-08-03,The Expendables,6.1,4647
13,13,"[16, 10751]",38757,en,Tangled,21.511,2010-11-24,Tangled,7.5,6407
14,14,"[27, 80]",41439,en,Saw 3D,20.370,2010-10-28,Saw: The Final Chapter,6.0,1488
15,15,"[12, 14, 18, 10749]",24021,en,The Twilight Saga: Eclipse,20.340,2010-06-23,The Twilight Saga: Eclipse,6.0,4909
16,16,"[28, 53, 878]",20504,en,The Book of Eli,18.985,2010-01-11,The Book of Eli,6.7,3495
17,17,"[10402, 10749]",52371,nl,LelleBelle,18.586,2010-10-09,LelleBelle,4.5,36
18,18,"[28, 18, 53]",2502,en,The Bourne Supremacy,18.199,2004-07-23,The Bourne Supremacy,7.3,4367
19,19,"[18, 53, 9648]",11324,en,Shutter Island,18.060,2010-02-18,Shutter Island,8.1,12625
20,20,"[28, 18, 9648, 53]",2501,en,The Bourne Identity,17.935,2002-06-14,The Bourne Identity,7.4,5406
21,21,"[28, 35]",37834,en,Knight and Day,17.713,2010-06-23,Knight and Day,6.0,2494
22,22,"[12, 10751, 14]",10140,en,The Chronicles of Narnia: The Voyage of the Da...,17.382,2010-12-10,The Chronicles of Narnia: The Voyage of the Da...,6.3,3196
23,23,"[18, 10749]",41233,en,Step Up 3D,17.174,2010-08-06,Step Up 3D,6.7,1160
24,24,"[53, 28, 12, 35, 80]",34544,en,The A-Team,17.097,2010-06-11,The A-Team,6.3,2703
25,25,"[18, 36]",45269,en,The King's Speech,16.798,2010-09-06,The King's Speech,7.7,5013
26,26,"[28, 35, 80, 53]",9737,en,Bad Boys,16.608,1995-04-07,Bad Boys,6.6,2936
27,27,"[28, 12, 10751, 14]",10196,en,The Last Airbender,16.595,2010-07-01,The Last Airbender,4.6,2143
28,28,"[28, 878, 12, 53]",34851,en,Predators,16.216,2010-07-03,Predators,6.1,1979
29,29,[18],37799,en,The Social Network,15.889,2010-10-01,The Social Network,7.2,6116

In [9]:
df2.head(30)

        tconst  averagerating  numvotes
0   tt10356526            8.3        31
1   tt10384606            8.9       559
2    tt1042974            6.4        20
3    tt1043726            4.2     50352
4    tt1060240            6.5        21
5    tt1069246            6.2       326
6    tt1094666            7.0      1613
7    tt1130982            6.4       571
8    tt1156528            7.2       265
9    tt1161457            4.2       148
10   tt1171222            5.1      8296
11   tt1174693            5.8      2381
12   tt1181840            7.0      5494
13   tt1193623            8.0         5
14   tt1199588            5.5        74
15   tt1204784            5.8         6
16   tt1210166            7.6    326657
17   tt1212419            6.5     87288
18   tt1220911            5.0       941
19   tt1229238            7.4    428142
20   tt1232829            7.2    477771
21   tt1235548            6.6      2725
22   tt1243974            5.4     54646
23   tt1250861            6.2       416
24   tt1258812            4.0        21
25   tt1261945            4.4     69199
26   tt1266037            7.0      1413
27   tt1270291            5.8      5728
28   tt1270761            5.6     44490
29   tt1272886            6.1      6688

In [15]:
df3.head(30)

,tconst,ordering,nconst,category,job,characters
0,tt0111414,1,nm0246005,actor,NaN,"[""The Man""]"
1,tt0111414,2,nm0398271,director,NaN,NaN
2,tt0111414,3,nm3739909,producer,producer,NaN
3,tt0323808,10,nm0059247,editor,NaN,NaN
4,tt0323808,1,nm3579312,actress,NaN,"[""Beth Boothby""]"
5,tt0323808,2,nm2694680,actor,NaN,"[""Steve Thomson""]"
6,tt0323808,3,nm0574615,actor,NaN,"[""Sir Lachlan Morrison""]"
7,tt0323808,4,nm0502652,actress,NaN,"[""Lady Delia Morrison""]"
8,tt0323808,5,nm0362736,director,NaN,NaN
9,tt0323808,6,nm0811056,producer,producer,NaN
10,tt0323808,7,nm0914939,producer,producer,NaN
11,tt0323808,8,nm0779346,composer,NaN,NaN
12,tt0323808,9,nm0676104,cinematographer,NaN,NaN
13,tt0417610,10,nm0284261,composer,NaN,NaN
14,tt0417610,1,nm0532721,actor,NaN,"[""Lucio""]"
15,tt0417610,2,nm0330974,actress,NaN,"[""Diana""]"
16,tt0417610,3,nm0069209,actor,NaN,"[""Dr. Samaniego""]"
17,tt0417610,4,nm0679167,actress,NaN,"[""Adriana María""]"
18,tt0417610,5,nm1145057,director,NaN,NaN
19,tt0417610,6,nm0083201,writer,story,NaN
20,tt0417610,7,nm0147416,producer,producer,NaN
21,tt0417610,8,nm0215732,producer,producer,NaN
22,tt0417610,9,nm1900304,producer,producer,NaN
23,tt0469152,10,nm3745712,editor,NaN,NaN
24,tt0469152,1,nm0036109,actress,NaN,"[""Eleanor Jordan""]"
25,tt0469152,2,nm0005253,actress,NaN,"[""Diana Whelan""]"
26,tt0469152,3,nm0002090,actor,NaN,"[""Anson""]"
27,tt0469152,4,nm1469262,actor,NaN,"[""Jack Jordan Jr.""]"
28,tt0469152,5,nm0707738,director,NaN,NaN
29,tt0469152,6,nm0071770,writer,NaN,NaN

In [16]:
df4.head(30)

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0
5,tt0369610,15,Jurassic World,GR,NaN,imdbDisplay,NaN,0.0
6,tt0369610,16,Jurassic World,IT,NaN,imdbDisplay,NaN,0.0
7,tt0369610,17,Jurski svijet,HR,NaN,imdbDisplay,NaN,0.0
8,tt0369610,18,Olam ha'Yura,IL,he,imdbDisplay,NaN,0.0
9,tt0369610,19,Jurassic World: Mundo Jurásico,MX,NaN,imdbDisplay,NaN,0.0
10,tt0369610,1,Jurassic World: Sauruste maailm,EE,NaN,imdbDisplay,NaN,0.0
11,tt0369610,20,Jurassic World,SE,NaN,imdbDisplay,NaN,0.0
12,tt0369610,21,Jurassic World 3D,US,NaN,NaN,3-D version,0.0
13,tt0369610,22,Jurassic World 3D,DE,NaN,NaN,3-D version,0.0
14,tt0369610,23,Jurassic World 3D,XWW,NaN,NaN,3-D version,0.0
15,tt0369610,24,Juras laikmeta pasaule,LV,NaN,imdbDisplay,NaN,0.0
16,tt0369610,25,Mundo Jurássico,PT,NaN,imdbDisplay,NaN,0.0
17,tt0369610,26,Мир Юрского периода,RU,NaN,NaN,NaN,0.0
18,tt0369610,27,Jurský svět,CZ,NaN,NaN,NaN,0.0
19,tt0369610,28,Monde jurassique,CA,fr,imdbDisplay,NaN,0.0
20,tt0369610,29,Jurassic World,US,NaN,NaN,NaN,0.0
21,tt0369610,2,Ebb Tide,US,NaN,NaN,fake working title,0.0
22,tt0369610,30,Jurassic World: Mundo Jurásico,CL,NaN,imdbDisplay,NaN,0.0
23,tt0369610,31,Jurassic World,RO,NaN,imdbDisplay,NaN,0.0
24,tt0369610,32,Juros periodo pasaulis,LT,NaN,imdbDisplay,NaN,0.0
25,tt0369610,33,Jurassic World,FI,NaN,imdbDisplay,NaN,0.0
26,tt0369610,34,Jurassic World: Mundo jurásico,PE,NaN,imdbDisplay,NaN,0.0
27,tt0369610,35,Jurassic Park 4,TR,tr,NaN,informal alternative title,0.0
28,tt0369610,36,Jurassic Park IV,US,NaN,working,NaN,0.0
29,tt0369610,37,Jurassic World,NO,NaN,imdbDisplay,NaN,0.0

In [19]:
df5.head(30)

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"
5,nm0062879,Ruel S. Bayani,NaN,NaN,"director,production_manager,miscellaneous","tt2590280,tt0352080,tt0216559,tt2057445"
6,nm0063198,Bayou,NaN,NaN,actor,"tt6579724,tt0093116"
7,nm0063432,Stevie Be-Zet,NaN,NaN,"composer,soundtrack","tt3106212,tt0478239,tt0264917,tt1626606"
8,nm0063618,Jeff Beal,1963.0,NaN,"composer,music_department,soundtrack","tt0183659,tt2545118,tt0384766,tt1856010"
9,nm0063750,Lindsay Beamish,NaN,NaN,"actress,miscellaneous","tt0404826,tt0111756,tt0367027,tt1492842"
10,nm0064023,Bryan Beasley,NaN,NaN,"director,producer,writer","tt3501180,tt1485100,tt1358897,tt1387162"
11,nm0064350,Martine Beauchemin,NaN,NaN,"producer,production_manager","tt5479010,tt0316463,tt1286159,tt0380732"
12,nm0065847,Michael Frost Beckner,1963.0,NaN,"writer,producer,miscellaneous","tt0108171,tt0095953,tt0266987,tt0285332"
13,nm0065919,Will Becton,NaN,NaN,"miscellaneous,editor,editorial_department","tt0478090,tt1334221,tt2249135,tt1522196"
14,nm0066093,Ahmad Bedair,1945.0,NaN,"actor,miscellaneous","tt2290391,tt0424830,tt0297398,tt2338117"
15,nm0066163,Arnaud Bedouët,NaN,NaN,"actor,writer,director","tt1355327,tt1977735,tt0173525,tt1710520"
16,nm0066268,Steve Mitchell Beebe,NaN,NaN,"editorial_department,director,editor","tt0827928,tt0119961,tt0408417,tt5521860"
17,nm0066897,Mohammad-Ali Behboudi,1956.0,NaN,actor,"tt6836462,tt4591834,tt0375911,tt2101473"
18,nm0067234,Hans Beimler,NaN,NaN,"producer,writer,miscellaneous","tt0486657,tt0092455,tt0091129,tt0106145"
19,nm0067845,Sondos Belhassen,NaN,NaN,actress,"tt0114103,tt0116209,tt1337140,tt0103806"
20,nm0067983,Krunoslav Belko,1971.0,NaN,actor,"tt1930421,tt0289360,tt0210629,tt3839316"
21,nm0068170,Dylan Bell,NaN,NaN,"director,actor,producer","tt4655766,tt3180116,tt8170168,tt4082762"
22,nm0068657,Philippe Bellaiche,NaN,NaN,"cinematographer,camera_department,producer","tt0309390,tt0285963,tt2091307,tt0498846"
23,nm0068874,Hava Kohav Beller,NaN,NaN,"director,writer,producer","tt0102778,tt7701650,tt0350668"
24,nm0069131,Gregg Bello,NaN,NaN,"actor,producer","tt1959490,tt5109784,tt1125849,tt0155267"
25,nm0069225,Gavin Bellour,NaN,NaN,"actor,producer,composer","tt0423370,tt2040257,tt0859592,tt7686128"
26,nm0069605,Bruno Beltramini,NaN,NaN,"cinematographer,visual_effects,camera_department","tt2154648,tt3746684,tt3746660,tt0427317"
27,nm0069757,Olga Belyavskaya,NaN,NaN,"actress,miscellaneous","tt0201345,tt7262530,tt0318034,tt1502417"
28,nm0069990,Jorge Ben Jor,1942.0,NaN,"soundtrack,composer,actor","tt0099892,tt3731562,tt1103275,tt0118655"
29,nm0070216,John Paul Fedele,NaN,NaN,"actor,cinematographer,special_effects","tt1424381,tt1075417,tt0453467,tt0268695"